{% extends "base-material.html" %}

{% import "_macros.html" as macros %}

{% block title %}REMAP - Profiles {% endblock %}

{% block page_content %}

<div class="row">
  <div class="col s12">
    <h3 class="center-align"> Remap South London Panel </h3>
  </div>

<div class="col s1 offset-s10">
  <table>
    <tr>
      <td><a href="{{url_for('main.add_new_volunteer')}}" class="btn-floating btn-large red">New</a></td>
    </tr>
  </table>
 </div>
</div>

<div class="row">

     {% include '_profiles.html' %}
   
</div>

{% if index != None %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.profile') }}
</div>
{% endif %}


{% endblock %}
