{% extends "base-material.html" %}

{% block title %}REMAP - {{ volunteer.name }}{% endblock %}

{% block page_content %}


    <div class="row">
      <h2 class="center-align">{{ volunteer.name }}</h2>
    </div>

    <div class="row">
       <div class="col s3">
         <div class="card">
           <div class="card-image">
              <img class="img-responsive" src="{{ volunteer.gravatar(size=300) }}">
           </div>
           <div class="card-action">
             <a href="{{ url_for('profile.edit_profile_admin', id=volunteer.id)}}" class="waves-effect waves-teal btn">Edit Profile</a>
           </div>
         </div>
        </div>

        <div class="col s4 offset-s1">
          <table class="bordered">
            <tr>
              <th>Address Line 1:</th>
              <td class="text-center">{{volunteer.address_line_1}}</td>
            </tr>
            <tr>
              <th>Address Line 2:</th>
              <td class="text-center">{{volunteer.address_line_2}}</td>
            </tr>
            <tr>
              <th>Postcode:</th>
              <td class="text-center"> {{volunteer.postcode}}</td>
            </tr>
            <tr>
              <th>Telephone:</th>
              <td class="text-center"> {{volunteer.telephone}}</td>
            </tr>
            <tr>
              <th>Mobile:</th>
              <td class="text-center"> {{volunteer.mobile}}</td>
            </tr>
            <tr>
              <th>Email:</th>
              <td class="text-center"><a href="mailto:{{ volunteer.email }}">{{ volunteer.email }}</a></td>
            </tr>

          </table>
        </div>
      </div>


{% if volunteer.project.first() %}
    <div class="row">
      <table class="striped">
        <thead>
          <tr>
            <th>Project Number<th>
            <th>Timestamp</th>
            <th>Title</th>
            <th>Status</th>
            <th>End Date <th>
          </tr>
        </thead>
        <tbody>
        {% for project in volunteer.project.all() | sort (attribute='id', reverse= True)%}
          <tr>
            {%if current_user.type == 'volunteers'%}
            <td><a href="{{url_for('project.project_single', number=project.id)}}" class="waves-effect waves-light btn">{{project.id}}</a><td>
            {% else%}
            <td>{{project.id}}<td>
            {% endif%}
            <td>{{ moment(project.timestamp).format('MMMM Do YYYY')}}</td>
            <td>{{project.request_title}}</td>
            <td>{{project.status}}</td>
            {% if project.end_date == None %}
            <td></td>
            {%else%}
            <td>{{moment(project.end_date).format('MMMM Do YYYY')}}</td>
            {% endif %}
          </tr>
        {% endfor%}
        </tbody>
      </table>
    </div>
    {% endif %}

{% endblock %}
