{% for project in pro_all | sort(attribute='id', reverse = True)%}

    {% if project.status == 'Awaiting Volunteer' %}
      {% set stat = 'danger'%}
    {% elif project.status == 'Ongoing' %}
      {% set stat = '' %}
    {% elif project.status == 'Finished' or 'Closed' %}
      {% set stat = 'success'%}
    {% endif %}

<tr class="{{stat}}">
  <td><a href="{{url_for('project.project_single',number=project.id)}}" class="waves-effect waves-light btn">{{project.id}}</a></td>
  {% if project.volunteer.first()== None %}
    <td ></td>
  {% else %}
    <td >{{project.volunteer.first().name}}</td>
  {% endif %}
    <td >{{project.user.first().postcode}}</td>
    <td >{{project.date_first_contacted.strftime('%d-%b-%Y')}}</td>
    <td >{{project.request_title}}</td>
    <td >{{project.status}}</td>
  {% if project.end_date == None %}
    <td></td>
  {% else%}
    <td>{{project.end_date.strftime('%d-%b-%Y')}}</td>
  {% endif %}
  <td class="text-right"><a href="{{url_for('project.detailed_pdf', number=project.id)}}" class="pdf_button waves-effect waves-light btn red darken-4">PDF</a></td>
</tr>
{% endfor%}
