{% extends "base-material.html" %}


{% block title %}Project PDF {% endblock %}

{% block page_content %}

<div class="row">
  <div class="col s12">
    <h3 class="center-align"> PDF Form </h3>
  </div>
</div>


  <div class="row">
    <div class="col s9 offset-s1">
     <div class="card">
      <div class="card-content">
        <form method="POST" role="form" action="{{ url_for('project.pdf_page')}}">
          {{form.hidden_tag()}}

          <div class="row">
            <div class="input-field s12">
                {{form.selection(class="browser-default")}}
            </div>
          </div>

          <div class="row">
            <input class="btn" type="submit"  value="Download PDF">
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
