{% extends "base-material.html" %}


{% block title %}Project PDF {% endblock %}

{% block page_content %}

<div class="row">
  <div class="col s12">
    <h3 class="center-align"> PDF Form </h3>
  </div>
</div>


  <div class="row">
    <div class="col s9 offset-s1">
     <div class="card">
      <div class="card-content">
        <form id="project_list_pdf_form" method="POST" role="form" action="{{ url_for('project.pdf_page')}}">
          {{form.hidden_tag()}}

          <div class="row">
            <div class="input-field s12">
                {{form.selection(class="browser-default")}}
            </div>
          </div>

          <div class="row">
            <input class="btn" type="submit"  value="Download PDF">
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts%}
{{ super() }}
<script>

  $('#project_list_pdf_form').on('submit', function(e) {
   e.preventDefault();

   $.ajax({

      type:'POST',
      url:'/project/pdf',
      data:{
        number: $('#selection').val(),
        pdf_filter:$("#selection option:selected" ).text()
      }
      }).done(function(data){
        if (data.error){
          Materialize.toast(data.error, 1000, 'red');
        }
        else {
            Materialize.toast('Printing PDF for ' + data.filter + ' Projects', 1000, 'green');
          }
      });

   });




</script>
{% endblock %}
