{% extends "base-material.html" %}


{% block title %}Project PDF {% endblock %}

{% block page_content %}
  <div class="row">
    <h3 class="center-align"> PDF Encryption </h3>
  </div>

  <div class="row">
    <div class="col s9 offset-s1">
      <div class="card">
        <div class="card-content black-text">
          <div class="row">

            <form method="POST" enctype="multipart/form-data" action="{{ url_for('project.encrypt_pdf')}}">
              {{form.hidden_tag()}}

                <div class="file-field">
                  <div class="btn">
                    <span>PDF</span>
                    <input type="file" name="PdfFile">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    {{form.password.label}}
                    {{form.password}}
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    {{form.submit(class="btn")}}
                  </div>
                </div>
              </form>

         </div>
       </div>
     </div>
   </div>
 </div>

{% endblock %}
