{% extends "base-material.html" %}
{% import '_macros.html' as macros %}


{% block title %}REMAP - Project List {% endblock %}

{% block page_content %}

    <div class="col s12">
      <div class="row">
        <table class="bordered responsive-table">
          <tr>
            <th class=activefield>Project Number</th>
            <th class=activefield>Assigned Volunteer</th>
            <th class=activefield>Location</th>
            <th class=activefield>Date Received</th>
            <th class=activefield>Project Title</th>
            <th class=activefield>Status</th>
            <th class=activefield>End Date</th>
            <th class=activefield>Download PDF</th>
          </tr>
        {% include'project/_project_list.html'%}
      </table>
    </div>
  </div>


{% if index != None %}

    <div class="row center">
      <div class="container">
          {{ macros.pagination_widget(pagination, 'project.projects') }}
      </div>
   </div>

{% endif %}
{% endblock %}


{% block scripts%}
{{ super() }}
<script>

  $('.pdf_button').on('click', function(e) {
   e.preventDefault();
   link = $(this).attr("href");
   number = link.slice(-1)
   console.log(number);

   $.ajax({
       type:'POST',
       url:'/project/pdf/single/' + number
       data:{
            number: link.slice(-1)
       }
       }).done(function(data){
        if (data.error){
             Materialize.toast('Something went wrong', 1000);
           } else {
               Materialize.toast('PDF is being made in the background', 1000);
           }
       });
   });


});
</script>
{% endblock %}
