{% extends "base-material.html" %}

{% block title %}REMAP - Project  {% endblock %}

{% block page_content %}

  <div class="row">
    <div class="col s12">
      <h3  class="center-align">Edit Project Number : {{project.id}}</h3>
    </div>
  </div>


<div class="row">
  <div class="col s9 offset-s1">
   <div class="card">
      <div class="card-content black-text">
        <span class="card-title"></span>

          <form action="{{url_for('project.edit_project', number=project.id)}}" method="POST">
            {{form.hidden_tag()}}

              <div class="row">
                  <div class="input-field col s12">
                    {{ form.request_title.label(class='black-text') }}
                    {{ form.request_title }}
                  </div>
              </div>

              <div class="row">
                  <div class="input-field col s12">
                    {{ form.request_body.label(class='black-text') }}
                    {{ form.request_body(class="materialize-textarea") }}
                  </div>
              </div>

              <div class="row">
                  <div class="input-field col s12">
                    {{ form.donation_discussed }}
                    {{ form.donation_discussed.label(class='black-text') }}
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s12">
                    {{ form.whom_donation_discussed.label(class='black-text') }}
                    {{ form.whom_donation_discussed}}
                  </div>
              </div>

              <div class="row">
                  <div class="input-field col s12">
                    {{ form.donation_outcome.label(class='black-text') }}
                    {{ form.donation_outcome(class="materialize-textarea") }}
                  </div>
              </div>

              <div class="row">
                  <div class="input-field col s12">
                    {{ form.data_protection }}{{ form.data_protection.label(class='black-text') }}
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s12">
                    {{ form.whom_data_protection_discussed.label(class='black-text') }}
                    {{ form.whom_data_protection_discussed}}
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s12">
                    {{ form.dat_protection_outcome.label(class='black-text') }}
                    {{ form.dat_protection_outcome(class="materialize-textarea") }}
                  </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  {{form.submit(class="btn")}}
                 </div>
             </div>

          </form>

      </div>
    </div>
   </div>
</div>
{% endblock %}
