{% extends "base-material.html" %}

{% block title %}REMAP - Project Communication {% endblock %}

{% block page_content %}

<div class="row">
  <div class="col s12">
    <h3> Project Number: {{project.id}} </h3>
  </div>
</div>

<div class="row">

<form method="POST" action="{{ url_for('project.project_comments', number=project.id)}}">
  {{form.hidden_tag()}}

   <div>
     <div class="card">
       <div class="card-content black-text">

         <div class="row">
             <div class="col s6">
                {{form.date_reported.label}}
                {{form.date_reported(class="datepicker",type="date")}}
             </div>
          </div>

          <div class="row">
            <div class="col s12">
                {{form.body.label}}
                {{form.body (class="materialize-textarea")}}
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              {{form.submit (class="btn-large teal")}}
            </div>
         </div>
      </div>
    </div>
   </div>
 </form>

</div>

{% for comment in comment_list |sort(attribute='first_database_entry',reverse=True)%}
<div class="col s12">
  <ul class="collection">
    <li class="collection-item">

      <span class="title">{{comment.author.name}}</span>

      <span><a href="{{url_for('main.edit_comment_admin', id=comment.id, number=project.id)}}"><i class="material-icons">mode_edit</i></a></span>

      <p> {{comment.body}}</p>

      <a href="{{url_for('project.delete_comment', id=comment.id)}}" class="secondary-content"><i class="material-icons icon-red">clear</i></a>

      <div class="col s4">
        <table>
          <tr>
            <th>First Reported</th>
            {% if comment.last_edited %}
            <th>Last Edited</th>
            {% endif %}
          </tr>
          <tr>
            <td>{{comment.date_reported.strftime('%d/%m/%Y')}}</td>
            {% if comment.last_edited %}
            <td>{{comment.last_edited.strftime('%d/%m/%Y')}}</td>
            {% endif %}
          </tr>
        </table>
      </div>

    </li>
  </ul>
</div>
{% endfor %}

{% endblock %}

{% block scripts%}
{{ super()}}
<script>

  $(function() {
		$( ".datepicker" ).pickadate({

      format: 'yyyy-mm-d'
    });
	});

</script>
{% endblock %}
