
<!DOCTYPE html>
<html lang="en">

<head>
  {% block head%}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles3.css')}}">


    <title>{% block title %}{% endblock %} REMAP </title>



  {% endblock %}

</head>
<body>

{% block navbar %}
  <nav class="teal darken-1" role="navigation">
    {% if not current_user.is_authenticated %}
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo center">REMAP</a>
      {% else %}
      <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">REMAP</a>
      {% endif %}

      {% if current_user.is_authenticated %}
      <ul class="right hide-on-med-and-down">
        <ul class="right hide-on-med-and-down">
          <li><a href="{{ url_for('main.encrypt_pdf')}}">Encrypt PDF</a></li>
          <li ><a href="{{ url_for('main.pdf_page')}}">Create PDF</a></li>

           <li><a href="{{url_for('main.profile')}}">Remap Panel</a></li>
           <li><a href="{{url_for('main.meeting')}}">Meeting</a></li>
           <li><a href="{{url_for('main.submit_project')}}">Submit Project</a></li>
           <li><a href="{{url_for('project.projects')}}"> Project List</a></li>
           <li><a href="{{url_for('auth.logout')}}">Sign Out</a></li>
        </ul>
      </ul>
      {% endif %}

      {% if not current_user.is_authenticated %}
      <ul class="right hide-on-med-and-down">
        <li><a href="{{url_for('auth.user_login')}}"></a></li>
      </ul>
      {% endif %}

      {% if current_user.is_authenticated %}
      <ul id="nav-mobile" class="side-nav">

        <li><a href="{{ url_for('main.pdf_page')}}">Create PDF</a></li>
        <li><a href="{{ url_for('main.encrypt_pdf')}}">Encrypt PDF</a></li>
            <li class="divider"></li>
        <li><a href="{{url_for('main.profile')}}">Remap Panel</a></li>
        <li><a href="{{url_for('main.meeting')}}">Meeting</a></li>
          <li class="divider"></li>
        <li><a href="{{url_for('main.submit_project')}}">Submit Project</a></li>
        <li><a href="{{url_for('project.projects')}}">Project List</a></li>
            <li class="divider"></li>
        <li><a href="{{url_for('auth.logout')}}">Sign Out</a></li>

      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">reorder</i></a>
      {% endif %}
    </div>

  </nav>
    <br><br>
{% endblock %}


{% block content %}

<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="row">
          <div class="col s12">
            <div class="chip {{category}}">
              {{message}}
              <i class="close material-icons">close</i>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
    <div class="row">
      {% block page_content %} {% endblock %}
    </div>
</div>




{% endblock%}


{% block scripts%}
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
   <script src="{{url_for('static', filename="js/init.js")}}"></script>

{% endblock %}
</body>
</html>
