{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}REMAP - Profile Picture {% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Change You Profile Picture</h1>

    {% if current_user.photo %}
    {% set name = current_user.name|string %}
    {% set path = 'img/profile/' %}
    {% set path2 = path + name + '.jpg'%}
    <img class="img-responsive" src="{{ url_for('static', filename=path2)}}" height='350', width='350' >
    {% else %}
    <img class="img-responsive" src="{{ current_user.gravatar(size=256) }}" height='350', width='350' >
    {% endif %}

</div>
<div class="col-md-4">
      {{ wtf.quick_form(form) }}
</div>
{% endblock %}
