{% extends "base-material.html" %}

{% block page_content %}

<div class="row">
  <div class="col s12">
    <h3>Meeting Page</h3>
  </div>
</div>



<form method=post action='/meeting'>

  <div class="row">
      <div class="col s6">
         {{form.date.label(class="black-text")}}
         {{form.date(class="datepicker",type="text")}}
      </div>
   </div>
<div class="row">
  <div class="input-field col s12">
    <div class="row">
      Project Number
    </div>
    <div class="row">
      {{form.project_number(class="browser-default")}}
    </div>
    <div class="input-field col s12">
      <div class="row">
        {{form.comment.label}}
        {{form.comment(class="materialize-textarea")}}
      </div>
   </div>
   <div class="input-field col s12">
     <div class="row">
       Status
     </div>
     <div class="row">
       {{form.status(class="browser-default")}}
     </div>
    <div class="row">
      {{form.submit(class="btn")}}
    </div>
  </div>

</div>

</div>

</form>



{% endblock%}

{% block scripts%}
{{ super() }}
<script>

  $(function() {
		$( ".datepicker" ).pickadate({

      format: 'd-mmm-yyyy'
    });
	});

</script>
{% endblock %}
