{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}REMAP - {{ clie.name }}{% endblock %}

{% block page_content %}
  <h1>{{ clie.name }}</h1>
    <div class="container-fluid">
        <table class="table table-hover">
          <th>Contact Details</th>
          <tr>
            <td>Address</td>
            <td>{{clie.address_line_1}}</td>
            <td>{{clie.address_line_2}}</td>
          </tr>
          <tr>
            <td>Postcode</td>
            <td>{{clie.postcode}}</td>
          </tr>
          <tr>
            <td>Telephone</td>
            <td>{{clie.telephone}}</td>
          </tr>
          <tr>
            <td>Mobile</td>
            <td>{{clie.mobile}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{clie.email}}</td>
          </tr>
        </table>
      </div>
      <a href="{{url_for('main.edit_profile', way='users')}}" class="btn btn-primary" > Edit Contact details</a>
      <a href="{{url_for('main.submit_project', way='direct')}}" class="btn btn-success" > Submit Project</a>
      <a href="{{url_for('main.submit_project', way='referal')}}" class="btn btn-info" > Submit Referral Project</a>

    {% if current_user.project.first() %}
    <div class="container-fluid">
      <h1>Project Submitted</h1>
        <table class="table table-hover">
          <tr class='active'>
            <td>Project Number</td>
            <td>Project Location</td>
            <td>Date Recieved</td>
            <td>Request Title</td>
            <td>Status</td>
          </tr>
        {% for pro in clie.project.all() | sort (attribute='id', reverse= True) %}
          <tr>
            <td><a href="{{url_for('main.userproject', number=pro.id)}}" class="btn btn-primary ">{{pro.id}}</a></td>
            <td>{{pro.user.first().postcode}}</td>
            <td>{{ moment(pro.timestamp).format('MMMM Do YYYY') }}</td>
            <td>{{pro.request_title}}</td>
            <td>{{pro.status}}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    {% endif %}

  {% if current_user.referenced.first() %}
  <div class="container-fluid">
    <h1>Project Referred </h1>
      <table class="table table-hover">
        <tr class='active'>
          <td>Project Number</td>
          <td>Project Location</td>
          <td>Date Recieved</td>
          <td>Request Title</td>
          <td>Status</td>
        </tr>
      {% for x in pro_list | sort(reverse=True) %}

        <tr class='active'>
          <td><a href="{{url_for('main.userproject', number=pro_list[x]['Project Number'])}}" class="btn btn-primary ">{{pro_list[x]['Project Number']}}</td>
          <td>{{pro_list[x]['postcode']}}</td>
          <td>{{ moment(pro_list[x]['timestamp']).format('MMMM Do YYYY')}}</td>
          <td>{{pro_list[x]['title']}}</td>
          <td>{{pro_list[x]['status']}}</td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {%endif %}


{% endblock %}
