{% extends "base-material.html" %}

{% block page_content %}

<div class="row">
  <div class="col s12">
    <h3 class="left-align">Add New Volunteer</h3>
  </div>
</div>

  <form method="post" role="form">
    {{form.hidden_tag() }}
    <div class="row">
      <div class="col s9 offset-s1">
        <div class="card grey lighten-5 z-depth-1">
          <div class="card-content">

            <div class="row">
              <div class="input-field col s12">
                {{form.name.label}}
                {{form.name}}
              </div>
            </div>

            <div class="row">
              <div class="black-text col s12">
              {{form.role.label(class="black-text")}}
              {{form.role(class="browser-default")}}
            </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                {{form.address.label}}
                {{form.address}}
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                {{form.postcode.label}}
                {{form.postcode}}
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                {{form.tel.label}}
                {{form.tel}}
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                {{form.mob.label}}
                {{form.mob}}
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                {{form.email.label}}
                {{form.email}}
              </div>
            </div>
            <div class="row">
              <div class="input-field black-text col s12">
              {{form.submit (class="btn-large teal")}}
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  </form>

{% endblock%}
