{% extends "base-material.html" %}

{% block title %}REMAP - {{ vol.name }}{% endblock %}

{% block page_content %}


    <div class="row">
      <h2 class="center-align">{{ vol.name }}</h2>
    </div>

    <div class="row">
       <div class="col s3">
         <div class="card">
           <div class="card-image">
              <img class="img-responsive" src="{{ vol.gravatar(size=300) }}">
           </div>
           <div class="card-action">
             <a href="{{ url_for('.edit_profile_admin', id=vol.id)}}" class="waves-effect waves-teal btn">Edit Profile</a>
           </div>
         </div>
        </div>

        <div class="col s4 offset-s1">
          <table class="bordered">
            <tr>
              <th>Address Line 1:</th>
              <td class="text-center">{{vol.address_line_1}}</td>
            </tr>
            <tr>
              <th>Address Line 2:</th>
              <td class="text-center">{{vol.address_line_2}}</td>
            </tr>
            <tr>
              <th>Postcode:</th>
              <td class="text-center"> {{vol.postcode}}</td>
            </tr>
            <tr>
              <th>Telephone:</th>
              <td class="text-center"> {{vol.telephone}}</td>
            </tr>
            <tr>
              <th>Mobile:</th>
              <td class="text-center"> {{vol.mobile}}</td>
            </tr>
            <tr>
              <th>Email:</th>
              <td class="text-center"><a href="mailto:{{ vol.email }}">{{ vol.email }}</td>
            </tr>

          </table>
        </div>
      </div>


{% if vol.project.first() %}
    <div class="row">
      <table class="striped">
        <thead>
          <tr>
            <th>Project Number<th>
            <th>Timestamp</th>
            <th>Title</th>
            <th>Status</th>
            <th>End Date <th>
          </tr>
        </thead>
        <tbody>
        {% for pro in vol.project.all() | sort (attribute='id', reverse= True)%}
          <tr>
            {%if current_user.type == 'volunteers'%}
            <td><a href="{{url_for('main.project_single', number=pro.id)}}" class="waves-effect waves-light btn">{{pro.id}}</a><td>
            {% else%}
            <td>{{pro.id}}<td>
            {% endif%}
            <td>{{ moment(pro.timestamp).format('MMMM Do YYYY')}}</td>
            <td>{{pro.request_title}}</td>
            <td>{{pro.status}}</td>
            {% if pro.end_date == None %}
            <td></td>
            {%else%}
            <td>{{moment(pro.end_date).format('MMMM Do YYYY')}}</td>
            {% endif %}
          </tr>
        {% endfor%}
        </tbody>
      </table>
    </div>
    {% endif %}

{% endblock %}
