
<html lang="en">

<head>
   <meta charset="utf-8" />
   <link rel="stylesheet" type="text/css" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>
</head>

<body>
  <div class="container">
    <table class="table">
      <tr>
        <td class=active><b>Project Number</b></td>
        <td class=active><b>Assigned Volunteer</b></td>
        <td class=active><b>Location</b></td>
        <td class=active><b>Date Received</b></td>
        <td class=active><b>Project Title</b></td>
        <td class=active><b>Status</b></td>
        <td class=active><b>End Date</b></td>
      </tr>
      {% for pro in pro_all | sort(attribute='date_first_contacted', reverse = True)%}

      <tr class="active">
        <td>{{pro.id}}</td>
        {% if pro.volunteer.first()== None %}
          <td ></td>
        {% else %}
          <td >{{pro.volunteer.first().name}}</td>
        {% endif %}
          <td >{{pro.user.first().postcode}}</td>
          <td >{{pro.date_first_contacted.strftime('%d-%b-%Y')}}</td>
          <td >{{pro.request_title}}</td>
          <td >{{pro.status}}</td>
        {% if pro.end_date == None %}
          <td></td>
        {% else%}
          <td>{{pro.end_date.strftime('%d-%b-%Y')}}</td>
        {% endif %}
      </tr>

      {% if pro.comments.all() %}
        {% for comment in pro.comments.all()  | sort(reverse=True, attribute='date_reported') %}
          {% if loop.index <= 3 %}
          <tr>
            <th colspan="2"> {{comment.date_reported.strftime('%d-%b-%Y')}}</th>
            <td colspan="5">{{ comment.body  }}</td>
            </tr>
                {% endif %}
              {% endfor %}

        {% endif %}

      {% endfor%}
    </table>
  </div>
</body>
</html>
