{% extends "base-material.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}REMAP - Submit Project  {% endblock %}


{% block page_content %}

<div class="row">
  <div class="col s12">
    <h3 class="center-align">Submit Project</h3>
  </div>
</div>


<form method=post action="{{ url_for('main.submit_project') }}">  <!-- for some reason "post doesnt work, however post works?" -->
  {{form.hidden_tag()}}

  <div class="row">
      <div class="col s6">
         {{form.date_first_contacted.label(class="black-text")}}
         {{form.date_first_contacted(class="datepicker",type="text")}}
      </div>
   </div>

  <div class="row">
      <div class="col s6">
        {{form.age_range.label(class="black-text")}}
        {{form.age_range}}
      </div>
      <div class="col s6">
        {{form.refered}}{{form.refered.label(class="filled-in", id="filled-in-box")}}
      </div>
   </div>

  <div class="row">
    <div class="col s6">
      <div class="card grey lighten-5 z-depth-1">
        <div class="card-content">

          <div class="row">
            <div class="input-field col s12">
              {{form.name.label(class="black-text")}}
              {{form.name (class="black-text")}}
            </div>
          </div>

          <div class="row">
              <div class="input-field col s6">
              {{form.address_line_1.label(class="black-text")}}
              {{form.address_line_1(class="black-text")}}
            </div>
            <div class="input-field col s6">
              {{form.address_line_2.label(class="black-text")}}
              {{form.address_line_2(class="black-text")}}
            </div>
          </div>

          <div class="row">
              <div class="input-field col s6">
              {{form.town_city.label(class="black-text")}}
              {{form.town_city(class="black-text")}}
            </div>
            <div class="input-field col s6">
              {{form.postcode.label(class="black-text")}}
              {{form.postcode(class="black-text")}}
            </div>
          </div>

          <div class="row">
              <div class="input-field col s6">
                {{form.telephone.label(class="black-text")}}
                {{form.telephone(class="black-text")}}
              </div>
              <div class="input-field col s6">
                {{form.mobile.label(class="black-text")}}
                {{form.mobile(class="black-text")}}
              </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              {{form.email.label(class="black-text")}}
              {{form.email(class="black-text")}}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              {{form.initial_contact.label(class="black-text")}}
              {{form.initial_contact(class="black-text")}}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              {{form.how_they_find_us.label(class="black-text")}}
              {{form.how_they_find_us(class="materialize-textarea")}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s6">
      <div class="card grey lighten-5 z-depth-1">
        <div class="card-content">
          <div class="row">
            <div class="input-field col s12">
              {{form.name_2.label(class="black-text")}}
              {{form.name_2(class="black-text")}}
            </div>
          </div>
          <div class="row">
              <div class="input-field col s6">
                {{form.telephone_2.label(class="black-text")}}
                {{form.telephone_2(class="black-text")}}
              </div>
              <div class="input-field col s6">
                {{form.mobile_2.label(class="black-text")}}
                {{form.mobile_2(class="black-text")}}
              </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              {{form.email_2.label(class="black-text")}}
              {{form.email_2(class="black-text")}}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              {{form.relation.label(class="black-text")}}
              {{form.relation(class="black-text")}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card grey lighten-5 z-depth-1">
        <div class="card-content">
          <div class="row">
            <div class="input-field">
              {{form.request_title.label(class="black-text")}}
              {{form.request_title(class="materialize-textarea")}}
            </div>
            </div>
            <div class="row">
             <div class="input-field">
               {{form.request_body.label(class="black-text")}}
               {{form.request_body(class="materialize-textarea")}}
             </div>
           </div>
          </div>
        </div>
      </div>
   </div>

  <div class="row">
    <div class="col s6">
      <div class="card grey lighten-5 z-depth-1">
        <div class="card-content">
          <div class="row">
            {{form.donation_discussed}}{{form.donation_discussed.label(class="filled-in", id="filled-in-box")}}
          </div>
          <div class="row">
            <div class="input-field">
              {{form.whom_donation_discussed.label(class="black-text")}}
              {{form.whom_donation_discussed}}
            </div>
          </div>
          <div class="row">
            <div class="input-field">
              {{form.donation_outcome.label(class="black-text")}}
              {{form.donation_outcome(class="materialize-textarea")}}
            </div>
           </div>
          </div>
        </div>
      </div>

      <div class="col s6">
        <div class="card grey lighten-5 z-depth-1">
          <div class="card-content">
            <div class="row">
              <div class="input-field">
                {{form.data_protection}}{{form.data_protection.label(class="filled-in",     id="filled-in-box")}}
              </div>
            </div>
            <div class="row">
              <div class="input-field">
                {{form.dat_protection_outcome.label(class="black-text")}}
                {{form.dat_protection_outcome(class="materialize-textarea")}}
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>

  <div class="row">
    <div class="input-field col s12">
      {{form.submit (class="btn-large teal")}}
    </div>
  </div>


</form>



{% endblock%}

{% block scripts%}
{{ super()}}
<script>

  $(function() {
		$( ".datepicker" ).pickadate({

      format: 'd-mmm-yyyy'
    });
	});

</script>
{% endblock %}
