{% extends "base.html" %}
{% import '_macros.html' as macros %}

{% block title %}REMAP - Project List {% endblock %}

{% block page_content %}
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <table class="table table-hover">
          <tr>
            <td class=active><b>Project Number</b></td>
            <td class=active><b>Assigned Volunteer</b></td>
            <td class=active><b>Location</b></td>
            <td class=active><b>Date Recieved</b></td>
            <td class=active><b>Project Title</b></td>
            <td class=active><b>Status</b></td>
            <td class=active><b>End Date</b></td>
            <td class=active><b>Download PDF </b></td>
          </tr>
        {% include'_project_list.html'%}
      </table>
    </div>
  </div>
</div>

{% if index != None %}
<div class="col-md-10">
    <div class="col-md-offset-5">
      <div class="pagination">
          {{ macros.pagination_widget(pagination, 'main.projects') }}
      </div>
   </div>
</div>
{% endif %}

{% endblock %}
