{% extends "base-material.html" %}

{% block title %}REMAP - Project Communication {% endblock %}

{% block page_content %}


  <div class="row">
    <div class="col s12">

        <form method='post'>
          {{form.hidden_tag()}}
          <div class="row">
          <div class="input-field">
              {{form.body.label}}
              {{form.body(class="materialize-textarea")}}
          </div>
        </div>
        <div class="row">

          {{form.submit (class="btn-large teal")}}
        </div>
        </form>


    </div>
  </div>


{% endblock %}
