{% extends "base-material.html" %}

{% block title %}REMAP - Project  {% endblock %}

{% block head %}
{{ super() }}

  {{the_map.js}}

{% endblock %}

{% block page_content %}

<div class="row">

  <div class="col s12">
    <h3>Project Number : {{proj.id}}</h3>
  </div>

  <div class="col s4">
    <table>
      <tr>
        <td><a href="{{url_for('main.client_info_admin', cli_number=proj.user.first().id, project_num=proj.id )}}" class="btn-floating btn-large red"><i class="material-icons">perm_identity</i></a></td>

        <td><a href="{{url_for('main.edit_project', number=proj.id)}}" class="btn-floating light-blue darken-3 btn-large "><i class="material-icons ">mode_edit</i></a></td>

        <td><a href="{{url_for('main.project_photos', number=proj.id)}}" class="btn-floating light-blue darken-3 btn-large"><i class="material-icons">attach_file</i></a></td>

        <td><button class="btn-floating light-blue darken-3 btn-large" id="the_map_collapse"><i class="large material-icons">location_on</i>MAP</button></td>

        {% if proj.photos.first() %}
        <td>
          <a id="button" href="#" class="btn-floating light-blue darken-3 btn-large"><i class="material-icons">image</i>Photos</a>
        </td>
        {% endif %}

      </tr>
    </table>
   </div>

</div>


<div class="row">
  <div class="col s12">
    <table class="bordered">
      <tr>
        <th>Location</th>
        <td>{{proj.user.first().postcode}}</td>
      </tr>
      <tr>
        <th>Data Recieved</th>
        <td>{{ moment(proj.timestamp).format('MMMM Do YYYY')}}</td>
      </tr>
      <tr>
        <th>Project Title</th>
        <td>{{proj.request_title }}</td>
      </tr>
      <tr>
        <th>Project Request</th>
        <td>{{proj.request_body}}</td>
      </tr>
      <tr>
        <th>Status</th>
        <td>{{proj.status}}</td>
        {% if proj.status == 'Finished' and proj.solutionphotos %}
        <td><a href="{{url_for('main.summery_pdf', number=proj.id)}}" class="btn">PDF </a>
        {% endif %}</td>
      </tr>
      <tr>
        <th>Assigned Volunteer</th>
          {% if proj.volunteer.first().name %}
            <td>{{proj.volunteer.first().name}}</td>
          {% else%}
          <td><a href="{{url_for('main.take_project', number=proj.id)}}" class="btn"> Assign Project</a></td>
        {% endif %}

      </tr>
      <tr>
        <th>Closed Date</th>
        {% if proj.end_date == None%}
          <td></td>
        {% else%}
          <td>{{moment(proj.end_date).format('MMMM Do YYYY')}}</td>
        {% endif %}
      </tr>
      </table>
    </div>
  </div>

<div class="row">
  <div class="col s12">
  <table>
    <tr>
      <td><a href="{{url_for('main.project_comments', number=proj.id)}}" class="btn">Project Notes <i class="material-icons">comment</i></a></td>
      {% if proj.status == 'Finished' and proj.solutionphotos %}
      <td><a href="{{url_for('main.project_solution', number=proj.id)}}" class="btn btn-success">Project Solution</a></td>
      {% endif %}
      {% if (proj.status == 'Awaiting Volunteer') or (proj.status == 'Ongoing')  %}
      <td><a href="{{url_for('main.end_project', number=proj.id, way='Close')}}" class="btn deep-purple darken-3">Close Project</a></td>
      {% endif %}
      {% if proj.status == 'Ongoing' %}
      <td><a href="{{url_for('main.end_project', number=proj.id, way='Finish')}}" class="btn deep-purple darken-3">Finish Project</a></td>
      {% endif %}
    </tr>
  </table>
</div>
</div>


    <div class="row" id="item">
    <div class="col s12 left-align">
      {% for x in proj.photos %}
        {% set item = pro_folder_items[loop.index0] | string%}
        {% set num = proj.id | string %}
        {% set numx = '/'+ num %}
        {% set folder = 'img/projectPhotos' + numx %}
        {% set path = folder + '/' + item %}
        <div class="col s4">
          <div class="card hoverable">
            <div class="card-image">
              <img class="materialboxed" data-caption="{{proj.photos.first().caption }}" src="{{url_for('static', filename=path)}}"  >
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="row">
    <div class="col s12">
     {{the_map.html}}
   </div>
  </div>



{% endblock %}

{% block scripts %}
{{ super() }}
<script>


$(function(){
    $("#item").hide();
    $("#button").on("click", function(){
        $("#item").toggle();
    });
});


</script>


{% endblock %}
