{% extends "base-material.html" %}

{% block title %}REMAP - {% endblock %}

{% block page_content %}

<div class="row">
  <div class="col s12">
    <h3>Upload Photos for Project</h3>
  </div>


<div class="row">
  <div class="col s9 offset-s1">
    <form action="" method="post" name="image" enctype="multipart/form-data">

      <div class="row">
        <div class="file-field input-field col s12">
          <div class="btn">
            <span>File</span>
            <input type="file" name="filesToUpload[]" multiple>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>

       <div class="row">
         <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea" name="cappy"></textarea>
            <label for="textarea1">Add caption if neccessar</label>
          </div>
       </div>

       <input type=submit  class="btn btn-primary" value=Upload>

    </form>
  </div>
</div>


{% endblock %}
