{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}REMAP - Project Solution {% endblock %}

{% block page_content %}
<div class="container-fluid">

  <h1>Project {{pro.id}} Solution </h1>
    <br>
    <div class="row">

      <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Solution Description</h3></div>
        <div class="panel-body"><p>{{pro.solution}}</p></div>
        <div class="panel-footer">{{pro.volunteer.first().name}}</div>
      </div>

    </div>

    <div class="row">
      {% for x in pro.solutionphotos %}
        {% set item = pro_folder_items[loop.index0] | string%}
        {% set num = pro.id | string %}
        {% set numx = '/'+ num %}
        {% set folder = 'img/projectSolution' + numx %}
        {% set path = folder + '/' + item %}
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="{{url_for('static', filename=path)}}" height='350', width='350' >
                  <div class="caption">
                  {% if x.caption == None%}
                  {% else %}
                    <p> {{x.caption}}</p>
                  {% endif %}
                </div>
            </div>
          </div>
      {% endfor %}
    </div>

    </div>
{% endblock %}
