{% extends "base-material.html" %}
{% import '_macros.html' as macros %}


{% block title %}REMAP - Project List {% endblock %}

{% block page_content %}

    <div class="col s12">
      <div class="row">
        <table class="bordered responsive-table">
          <tr>
            <th class=activefield>Project Number</th>
            <th class=activefield>Assigned Volunteer</th>
            <th class=activefield>Location</th>
            <th class=activefield>Date Recieved</th>
            <th class=activefield>Project Title</th>
            <th class=activefield>Status</th>
            <th class=activefield>End Date</th>
            <th class=activefield>Download PDF</th>
          </tr>
        {% include'_project_list.html'%}
      </table>
    </div>
  </div>


{% if index != None %}

    <div class="row center">
      <div class="container">
          {{ macros.pagination_widget(pagination, 'main.projects') }}
      </div>
   </div>

{% endif %}

{% endblock %}
